.header{
    margin-top: 60px;
}
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}
.headerTitleLg{
    position: absolute;
    top: 14%;
    font-size: 100px;
}
.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}