.sidebar{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #222;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
}
.sidebarItem>img{
    margin-top: 15px;
    width: 90%;
}
.sidebarItem>p{
    padding: 30px;
    font-family:'Segoe UI';
}
.sidebarList{
    list-style: none;
    margin-bottom: 30px;
}
.sidebarListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
    font-family:'Segoe UI';
}